.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:rgb(219, 219, 219)
}

.title {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (max-width: 424px) {
  .title {
       margin-top: 5em;
   
  }
}

