.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:rgb(219, 219, 219)
}

.title {
  padding-bottom: 2em;
}

@media (max-width: 424px) {
  .title {
     padding-top: .5em;
       margin-top: 3em;
  
   
  }
}

@media (min-width: 425px) {
  .title {
margin-top: 5em;
  }
}
